<% @title="Accueil" %>
<div class="body-homepage text-white">

	<!--Page title -->
	<!-- Navbar-->
    <%= render "homepage/shared/navbar" %>
	<!-- Hero -->
    <%= render "homepage/shared/hero" %>
	<!-- Feature Lesson Essentials-->
    <%= render "homepage/shared/essential" %>
	<!-- Feature  Flash Card-->
    <%= render "homepage/shared/flashCard" %>
	
	<!-- Pricing -->
    <%= render "homepage/shared/pricing" %>
	<!--  -->
	<!-- Testimonial -->
	<%= render "homepage/shared/testimonial" %>
	<!--  -->
	<%= render "homepage/shared/programs" %>
	<%= render "homepage/shared/footer" %>
</div>