
<div id="<%= dom_id course %>" class="w-full flex border p-2">
	<% @title=course.title %>
    <div class="flex flex-col text-white">
		<!-- Show course meta -->
		<div class="flex flex-row">
			<div class="basis-1/4">
    			<%= link_to sanitize("&larr;"), feed_path, class:"text-2xl" %>
			</div>

			<div class="basis-2/4">
				<p class="font-bold text-xl mx-auto "><%= course.material_name %></p>
			</div>
			<div class="basis-1/4"></div>
		</div>

		<div class="flex my-4">
			<h1 class="font-bold text-xl md:text-2xl"><%= course.title %></h1>
		</div>
		<!-- Items of course -->
		<div class="m-2" data-controller="navigation" data-action="turbo:before-fetch-response@document->navigation#displayContent">
            <%= turbo_frame_tag :index, class:"post-card" do %>
                <%= link_to "", data: { turbo_frame: "details", 
                                    action: "turbo:click->navigation#displayLoading",
                                    navigation_target: "link" } do %>
                    <%#= truncate(strip_tags(course.content.to_s.html_safe), length: 600) %>
                    <%= course.content %>
                <% end %>
            <% end %>
		</div>
            
		<!-- Bottom items of course -->
		<div class="border-t mt-2">
			<div class="flex justify-between my-1">
				<%#= render "courses/shared/feed/feed_essentials", course: @course %>
				<%#= render "courses/shared/feed/feed_exercices", course: @course %>
				<%#= render "courses/shared/feed/feed_questions", course: @course %>
			</div>
		</div>
	</div> 
</div>